.pagination {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    margin-top: 20px;
    align-items: center;
    color: #5b5858;
    font-size: 14px;
}

strong {
    font-weight: 600;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.selected {
    border: 1px solid #5b5858;
    color: #5c4242;
    background-color: #da8d8d !important;
}
