.sidebar,
.sub {
  width: 15% !important;
  min-width: 250px;
  background: rgb(5, 68, 104);
  color: white ;
}

.navbar {
  flex-direction: column !important;
  width: 100%;
}

.item {
  width: 100%;
  text-align: center;
  border: 1px solid salmon;
}

.item a {
  color: white;
}
.item:hover {
  background-color: wheat;

}
.active{
    background-color: rgb(235, 166, 140)
}

.active a{
  color: #282c34;
}

.item:first-child {
  border-bottom: none;
}
